* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.calculator {
  width: 287px;
  border: 2px solid black;
  background-color: beige;
  padding: 5px;
}

.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
}

.calculator form input {
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
}

.calculator form input:hover {
  box-shadow: 1px 1px 2px black;
}

.calculator form input[type="text"] {
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}

.clear {
  background-color: red;
  grid-column: span 3;
}

.operator {
  background-color: orange;
}

.dot {
  background-color: green;
}

.result {
  grid-column: span 2;
}
